{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Погода{% endblock %}</title>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    
    <link rel="stylesheet" href="{% static 'artweather/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'artweather/css/media.css' %}">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
       
</head>


<body>

 <nav class="navbar navbar-expand-md navbar-light bg-light">
 <div class="container-fluid">
  <div class="navbar-brand">
  	<img src="{% static 'artweather/img/AW.ico' %}" alt="logo" width="100px">
    <span>ArtWeather</span>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{%  url 'home' %}">Главная<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{%  url 'app' %}">Приложение</a>
      </li>
    </ul>
  </div>
 </div>
</nav>

 {% block main-info %}
 <div class="co-1">
   <div class="row">
    <div class="weather-text col-xl-12 col-lg-12 col-md-12 col-sm-12">
       <h1>Погода в вашем городе</h1>
    </div>
     <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12">
       <form action='.' method="post">
           {% csrf_token %}
           <label for="city">Город</label>
           {{ form.name_city}}
           <button type="sumbit" name='send' class="btn btn-dark know">Узнать</button>
       </form>
     </div>
     
      <div class="col-xl-4 col-lg-8 col-md-8 col-sm-8">
       <div class="info">
         <h1>Информация</h1>
         <div class="update-info">
              
           {% for info in all_info %}
            <div class="wrapp-info" id='wrapp-info'>
              <b class='city-info'>Город:</b> <span>{{ info.city }}</span><br>
              <b class="temp-info">Температура:</b><span>{{ info.temp }}</span><sup>o</sup><br>
              <img src="https://openweathermap.org/img/w/{{ info.icon }}.png" alt="iocn" class="img-thumbnail img-info">
            </div>
            {% endfor %}
                     
         </div>
         <div class="wrapp-clear">
           <a href="{% url 'delete' %}"><button class='btn btn-info clear'>Очистить все</button></a>
         </div>
        </div>
      </div>
  </div>
</div>
{% endblock %}

</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
 <script type="text/javascript" src="{% static 'artweather/js/jquery-3.6.0.min.js' %}"></script>
 <script type="text/javascript" src="{% static 'artweather/js/javascript.js' %}"></script>
</html>